# Project Artifacts
*.log
*.kit
/.kite
teapot.txt
/*.zip
*~
*.bak
/includes
*.exe
/bin/*-linux
/bin/*-macosx*
/docs/*.html
/docs/*/*.html
*.docx
*.pptx
*.xlsx
*.adb
*.helpdb
.backup
~*.tmp
temp.tcl

# SublimeText artifacts.
*.sublime-*

# VI artifacts
*.swp
