# Project Artifacts
*.log
*.kit
/.kite
teapot.txt
/*.zip
*~
*.bak
/includes
*.exe
/bin/*-linux
/bin/*-macosx*
/docs/~*
/htdocs/arachne.html
/htdocs/index.html
/mods/testmod.tcl
mag.docx
*.xlsx
*.adb
*.helpdb
.backup
~*.tmp
temp.tcl
/log
econdebug.cmsnap

/test/app_arachne/scratch
/test/app_arachne/scenario

# SublimeText artifacts.
*.sublime-*

# VI artifacts
*.swp
