body {
  padding-top: 50px;
}

/*
 * Row with equal height columns: for use with bootstrap grids.;
 * --------------------------------------------------
 */
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

/* For sidebar column */
.sidebar {
   border-right: 1px solid black; 
   margin-top: 5px; 
   min-height: 1024px; 
}

/* For <p> elements at the top of a box. */
p.top {
    margin-top: 10px;
}

/* DD elements need a little extra space below. */
dl.loose dd {
    margin-bottom: 10px;
    margin-left: 2em;
}

