/* Athena CSS Definitions */

A {
    text-decoration: none;
}

TABLE {
    margin-top:    4px;
    margin-bottom: 4px;
}

TR {
    vertical-align: baseline;
}

TH {
    padding-left: 4px;
}

TD {
    padding-left: 4px;
}

/* Spans for different entity states */

SPAN.disabled {
    text-decoration: line-through;
    color: #999999;
}

SPAN.invalid {
    text-decoration: line-through;
    color: #C7001B;
}

SPAN.error {
    color: #C7001B;
}

/* Text Span Classes */

SPAN.tiny {
    font-size: 0.875em;
}

SPAN.tinyb {
    font-weight: bold;
    font-size: 0.875em;
}

SPAN.tinyi {
    font-style: italic;
    font-size: 0.875em;
}


/* Page Header */
IMG.logo { 
    position:absolute;
    margin:3px; border: 0;
}

DIV.tagline {
    font-family: Verdana, sans-serif;
    float:right;
    text-align:right;
    font-style:italic;
    width:300px;
    margin:12px;
    margin-top:58px;
}

/*--------------------------------------------------
 * Table Formatting Classes
 *
 * Use class "table" for standard table formatting, 
 * with "tr-odd" on odd body rows and "tr-even" on even 
 * body rows.  The header is row 1 so the first body row
 * is even.
 */

.table {  /* Replaces "pretty" */
    border: 1px solid black;
    border-spacing: 0;
    color: black;
    background-color: white;
}

.table tr:first-child {  /* Replaces "header" */
    font-weight: bold;
    color: white;
    background-color: #000099;    
}

.table tr.tr-odd {      /* Replaces "evenrow" */
    background-color: #EEEEEE;
}

.table tr.tr-even { }   /* Replaces "oddrow" */

.table th {
    padding:    5px;
    text-align: left;
}

.table td {
    padding: 5px;
    vertical-align: baseline;
}

table.table-wide {
    width: 100%;    
}

/* OBSOLETE: Old-style Table Formatting Classes: "pretty" 
 * Border around the outside, even/odd striping, no internal
 * border lines.
 */
TABLE.pretty {
    font-weight: normal;
    border: 1px solid black;
    border-spacing: 0;
}

TABLE.pretty TR.header {
    color: white;
    background-color: #000099;
}

TABLE.pretty TR.oddrow {
    color: black;
    background-color: white;
}

TABLE.pretty TR.evenrow {
    color: black;
    background-color: #EEEEEE;
}

/* Examples, listings, and marks */
PRE.example {
    background:     #FFFDD1 ;
    border:         1px solid blue;
    padding-top:    2px;
    padding-bottom: 2px;
    padding-left:   4px;
}

PRE.listing {
    background:     #FFFDD1 ;
    border:         1px solid blue;
    padding-top:    4px;
    padding-bottom: 4px;
    padding-left:   4px;
}

SPAN.linenum {
    background:     #E3E08F ;
}

DIV.mark {
    display: inline;
    font-family: Verdana;
    font-size: 75%;
    background: black;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 2px;
    padding-right: 2px;
}

DIV.bigmark {
    display: inline;
    font-family: Verdana;
    font-size: 100%;
    background: black;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 2px;
    padding-right: 2px;
}

/* Topic Lists. */
TR.topic {
    vertical-align: baseline;
}

TR.topicname {
    min-width: 1.5em;
}



BODY {
    margin: auto;
    padding: 8px 1%;
    color: black;
    background: white;
    font-family: Verdana, sans-serif;
}

/* Linkbars */

TABLE.linkbar {
  clear: both;
  border-radius: 8px;
  background: #000099;
  padding: 0px;
  margin: 0px;
  cell-spacing: 0px;
}    
DIV.linkbar {
  text-align: left;
  line-height: 1.6em;
  margin: 0;
  padding: 0px 8px;
}
DIV.linkbar span { color: white; text-decoration: none; padding: 6px 12px; }
DIV.linkbar a { color: white; text-decoration: none; padding: 6px 12px; }
DIV.linkbar a:visited { color: white; }
DIV.linkbar a.active { color: yellow; text-decoration: none; padding: 6px 12px; }
DIV.linkbar a:hover { color: #000099; background: white; }

